<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_registration/css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Registration</h1>
      <form action='/register' method='POST'>
        {% csrf_token %}
        <div class="form-group">
          <label for="first_name">First Name: </label>
          <input type="text" class="form-control" id="formGroupExampleInput" name='first_name'>
        </div>
        <div class="form-group">
          <label for="last_name">Last Name: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" name='last_name'>
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" name='email'>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" class="form-control" id="formGroupExampleInput2" name='password'>
        </div>
        <div class="form-group">
          <label for="pass_confirm">Confirm Password: </label>
          <input type="password" class="form-control" id="formGroupExampleInput2" name='pass_confirm'>
        </div>
        <input type="submit" class='btn btn-primary' name="submit" value="Register">
      </form>
      <br><h1>Login</h1>
      <form action='/login' method='POST'>
        {% csrf_token %}
        <div class="form-group">
          <label for="login_email">Email: </label>
          <input type="text" class="form-control" id="formGroupExampleInput" name='login_email'>
        </div>
        <div class="form-group">
          <label for="login_password">Password: </label>
          <input type="password" class="form-control" id="formGroupExampleInput2" name='login_password'>
        </div>
        <input type="submit" class='btn btn-primary' name="submit" value="Login">
      </form>
      {% if messages %}
        {% for msg in messages %}
          <div>
            <p class="error">{{msg.message}}</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
